table {
  border-spacing: 0;
  margin: 2em 0;
  min-width: 100%;

}

thead {
  tr {
    background-color: $color-gray-lightest;
  }

  th {
    text-align: left;
  }
}

tbody {
  th {
    font-weight: $font-normal;
  }
}

tr {
  border: 1px solid $color-gray;
  padding: 1.5rem;
}

.usa-table-borderless {
  thead {
    // we can un-nest by moving the borders to the trs
  }

  tr {
    background-color: transparent;
  }

  th, td {
    border-left: 0;
    border-right: 0;
  }
}
